@media screen and (max-width:1024px) {
    .header_center {
        display: none;
    }
    .header_left {
        width: 57%;
    }
    .header_left_logo {
        justify-content: flex-end;
    }
    .header_right {
        width: 43%;
    }
    .header_left_burger {
        opacity: 1;
        width: 20%;
    }
    .header_left_burger_button {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        
    }
    .header_left_burger_border {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content:  flex-start;
        margin-left: 60px;
    }
    .header_left_burger_nav {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    .burger_nav_menu {
        margin-top: 20px;
    }
    .header_right_input_border {
        width: 80%;
    }
    /*перейти к слайдеру*/
    .offer_slider {
        width: 924px;
        background: url(images/slider_1_1024.png);
    }
    .offer_slider_header {
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 73px;
    width: 70%;
    }
    .offer_slider_content {
        font-size: 18px;
        width: 70%;
    }
    .about {
        height: 1800px;
    }
    .about_header_text {
        width: 100%;
    }
    .about_content {
        flex-direction: column;
        height: 1400px;
    }
    .about_content_order {
        margin-top: 20px;
    }
    .about_content_menu {
        margin-top: 20px;
    }
    .work {
        height: 852px;
    }
    .work_content_pict {
        width: 437px;
        height: 640px;
        background-size: 100% 100%;
        background: url(images/step_1_1024.png);
    }
    .work_content_info_footer {
        margin-top: 230px;
    }
    #radio_text {
        font-size: 14px;
    }
    .footer_block_info {
        font-size: 10px;
        width: 20%;
        text-align: center;
        display: none;
    }
    .footer_block_input {
        width: 70%;
    }
    .footer_block_menu {
        width: 30%;
        align-items: flex-start;
    }
}
