html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
input {
    outline:none;
}
body {
    width: 100%;
    height: 100%;
}
a  {
    color: black;
    text-decoration: none;
}
ul {
   list-style: none; 
}
.emptiness {
    height: 40px;
    width: 100%;
}
.header {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    display: flex;
    position: fixed;
    z-index: 2;
}
.header_left {
    width: 25%;
    height: 100%;
    display: flex;
}
.header_left_burger {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0
}
.header_left_logo {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_right {
    width: 33%;
    height: 100%;
    display: flex;
}
.header_right_input {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_input_border {
    width: 100%;
    height: 70%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.1s;
}
.header_right_input_border_search {
    width: 90%;
    height: 60%;
    border: 0;
    font-size: 18px;
    color: gray;
    border-bottom: 1px solid gray;
}
.header_center {
    width: 41%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}
.header_nav li {
    height: 100%;
    display: inline;
    margin-right: 50px;
    padding: 1px 2px;
    transition-duration: 0.05s;
}
.header_right_btn_search {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_btn_search_active {
    height: 40px;
    width: 40px;
    border:0;
    background-color: #FFFFFF;
}
.header_menu_search_button_active_svg {
    transition-duration: 0.1s;
}
.header_menu_search_button_active_svg:hover {
    stroke: #FF9900;
    fill: #FF9900;
}
.header_right_btn_off {
    height: 100%;
    width: 10%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_btn_off_active {
    height: 40px;
    width: 40px;
    border: 0;
    background-color: white;
    transition-duration: 0.1s;
    opacity: 0;
}
.header_right_btn_off_active_svg:hover {
    stroke: #FF9900;
    fill: #FF9900;
    transition-duration: 0.1s;
}
#list1 {
    padding: 1px 2px;
    transition-duration: 0.05s;
}
#list2 {
    padding: 1px 2px;
    transition-duration: 0.05s;
}
#list3 {
    padding: 1px 2px;
    transition-duration: 0.05s;
}
#list4 {
    padding: 1px 2px;
    transition-duration: 0.05s;
}
#list5 {
    padding: 1px 2px;
    transition-duration: 0.05s;
}
#list1:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list1:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list1:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list2:hover {
    border-bottom:2px solid #FF9900;
}
#list2:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list2:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list3:hover {
    border-bottom:2px solid #FF9900;
}
#list3:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list3:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list4:hover {
    border-bottom:2px solid #FF9900;
}
#list4:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list4:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list5:hover {
    border-bottom:2px solid #FF9900;
}
#list5:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list5:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
.offer {
    height: 770px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer_slider {
    width: 90%;
    height: 610px;
    position: absolute;
    background: url(images/pict_slider1.png);
    background-repeat: no-repeat;
    border-radius: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;   
    flex-direction: column;
    transition-duration: 0.5s; 
}
.offer_slider_header {
    height: 45%;
    width: 50%;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.offer_slider_header_text {
    margin-left: 70px;
    margin-top: 100px;
    color: white;
}
.offer_slider_content {
 height: 15%;
 width: 50%;
 font-size: 28px;
 font-weight: 800;
 display: flex;
 align-items: center;
 justify-content: center;

}
.offer_slider_content_text {
    margin-left: 70px;
    color: white;
}
.offer_slider_order {
    height: 35%;
    width: 50%;
    display: flex;
    align-items: center;
}
.offer_slider_order_button {
    margin-left: 70px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.offer_slider_order_button_border {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9900;
    border-radius: 16px;
    padding: 18.571px 37.1419px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    transition-duration: 0.3s;
}
.offer_slider_order_button_border:hover {
    background-color: #ffb84d;
    transition-duration: 0.3s;
}
.offer_slider_order_button_border:focus {
    background-color: #ffb84d;
    transition-duration: 0.3s;
}
.offer_slider_order_button_border:active {
    background-color: #E1670E;
    transition-duration: 0.3s;
}
.dots_slider {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots_button {
    margin-right: 50px;
    border:0;
    background-color: rgba(0, 0, 0, 0);
}
.dot_button_border {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #CACACA;
    display: flex;
    margin-bottom: 10px;
}
.dot_button_border:hover {
    background-color: #FFFFFF;
}
#dot_first {
    background-color: white;
    color: white;
}
.about {
    height: 1150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_header {
    height: 450px;
    width: 90%;
    display: flex;
}
.about_header_text {
    width: 70%;
}
#about_header_text_header {
    font-size: 48px;
}
#about_header_text_content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.about_content {
    height: 650px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}
.about_content_order {
    width: 868px;
    height: 622px;
    background:url(images/content_order.png);
    margin-right: 15px;
    border-radius: 32px;
    display: flex;
}
.about_content_order_inf {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    height: 196px;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about_content_order_inf_text {
    color: white;
    width: 47%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    justify-self: flex-start;
}
.about_content_order_inf_button {
    width: 175px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
.about_content_order_inf_button_border {
    width: 175px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FF9900;
    border-radius: 16px;
    color: white;
    transition-duration: 0.3s;
}
.about_content_order_inf_button_border:hover {
    background-color: #FF9900;
    transition-duration: 0.3s;
}
.about_content_order_inf_button_border:focus {
    background-color: #FF9900;
    transition-duration: 0.3s;
}
.about_content_order_inf_button_border:active {
    background-color: #E1670E;
    border: 3px solid #E1670E;
    transition-duration: 0.3s;
}
.about_content_order_inf_button_border_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.about_content_menu {
    width: 868px;
    height: 622px;
    display: flex;
    flex-direction: column;
}
.about_content_menu_consul {
    width: 870px;
    height: 295px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.about_content_menu_consul_svg {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_content_menu_quality {
    width: 870px;
    height: 295px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 32px;
    margin-top: 25px;
    flex-direction: row;
}
.about_content_menu_consul_text {
    width: 620px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.about_content_menu_consul_text_header {
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.about_content_menu_consul_text_content_text {
    width: 400px;
    height: 128px;
    margin-top: -20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.about_content_menu_quality_svg {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_content_menu_quality_text {
    height: 100%;
    width: 620px;
    margin-top: -295px;
    margin-left: 250px;
}
#consul_header {
    margin-top: 60px;
}
.work {
    width: 100%;
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work_header {
    width: 100%;
    height: 186px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}
.work_header_h {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
#work_header_h_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    margin-left: 60px;
}
.work_header_step {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.work_header_step_button {
    margin-left: 60px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work_header_step_button:hover {
    color: #FF9900;
    transition-duration: 0.3s;
}
.work_header_step_button:focus {
    border: 2px solid #E1670E;
    transition-duration: 0.3s;
    color: black;
}
.work_header_step_button:active {
    border: 0;
    color: #E1670E;
    transition-duration: 0.3s;
}
.work_header_step_button_border_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
#step_1 {
    color: #E1670E;
}
#step_2 {
    color: black;
}
#step_3 {
    color: black;
}
#step_4 {
    color: black;
}
.work_content {
    width: 100%;
    height: 460px;
    display: flex;
    margin-left: 90px;
}
.work_content_info {
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
}
.work_content_info_header {
    width: 100%;
    height: 10%;
}
.work_content_info_header_text {
    margin-left: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    transition-duration: 0.3s;
}
.work_content_info_body {
    width: 100%;
    height: 60%;
}
.work_content_info_body_text {
    margin-left: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    transition-duration: 0.3s;
}
.work_content_info_footer {
    width: 100%;
    height: 15%; 
    display: flex;
    margin-top: 20px;
}
.work_content_info_footer_button {
    margin-left: 60px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.work_content_info_footer_button_more {
    height: 60px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9900;
    border-radius: 16px;
    transition-duration: 0.3s;
}
.work_content_info_footer_button_more:hover {
    background-color: #ffb84d;    
}
.work_content_info_footer_button_more:focus {
    background-color: #ffb84d;
}
.work_content_info_footer_button_more:active {
    background-color: #E1670E;
}
.work_content_info_footer_button_more_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:white;
}
.work_content_info_footer_button_contract {
    border: 1px solid black;
    border-radius: 16px;
    width: 175px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.work_content_info_footer_button_contract:hover {
    background-color: #666666;
    color: #FFFFFF;
}
.work_content_info_footer_button_contract:focus {
    background-color: #666666;
    color: #FFFFFF;
}
.work_content_info_footer_button_contract:active {
    background-color: black;
    color: #FFFFFF;
}
.work_content_pict {
    margin-top: -20px;
    height: 100%;
    width: 50%;
    border-radius: 6px;
    background: url(images/step_1.png);
    background-repeat: no-repeat;
    transition-duration: 0.3s;
    margin-left: 3%;
}
.question {
    height: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question_header {
    height: 200px;
    width: 90%;
    display: flex;
    align-items: center;
}
.question_header_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;  
}
.question_block {
    height: 200px;
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CACACA;
    transition-duration: 0.6s;
    justify-content: space-between;
}
#quest1 {
    border-top: 1px solid #CACACA;
    flex-direction: column;
    overflow: hidden;
    height: 200px;
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CACACA;
    transition-duration: 0.6s;
}
.question_block_quest {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.question_block_quest_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
.question_block_quest_button_border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #CACACA;
    color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition-duration: 0.5s;
}
.question_block_quest_button_border_plus {
    font-size: 30px;
}
.question_block_answer_border {
    width: 100%;
    height: 0px;
    align-self: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
#question_block_answer_header {
    height: 200px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    height: 600px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.footer_block {
    width: 90%;
    height: 90%;
    display: flex;
}
.footer_block_menu {
    width: 20%;
    height: 95%;
    display: flex;
    flex-direction: column;
}
.footer_block_input {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer_block_input_header {
    width: 100%;
    height: 134px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;  
    color: #CACACA;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.footer_block_input_fio {
    width: 570px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_block_input_fio_enter {
     border: 0;
     background-color: #414141;
     color:#CACACA;
     border-radius: 16px;
     height: 100%;
     width: 100%;
}

.footer_block_input_fio_enter:focus {
    border: 0;
    background-color: #666666;
    color:#CACACA;
    border-radius: 16px;
    height: 100%;
    width: 100%;
}
.footer_block_input_mail {
    width: 570px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#CACACA;
}
.footer_block_input_mail_enter {
    border: 0;
    background-color: #414141;
    color:#CACACA;
    border-radius: 16px;
    height: 100%;
    width: 100%;
}
.footer_block_input_mail_enter:focus {
   border: 0;
   background-color: #666666;
   color:#CACACA;
   border-radius: 16px;
   height: 100%;
   width: 100%;
}
.footer_block_input_alert {
    width: 570px;
    height: 60px;
}
.footer_block_input_alert_enter {
    border: 0;
    background-color: #414141;
    color:#CACACA;
    border-radius: 16px;
    height: 100%;
    width: 100%;
}
.footer_block_input_alert_enter:focus {
   border: 0;
   background-color: #666666;
   color:#CACACA;
   border-radius: 16px;
   height: 100%;
   width: 100%;
}
.footer_block_input_button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_block_input_button_data {
    width: 269px;
    height: 60px;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition-duration: 0.3s;
}
.footer_block_input_button_data:hover {
    background-color: #ffb84d;
    transition-duration: 0.3s;
}
.footer_block_input_button_data:focus {
    background-color: #ffb84d;
    transition-duration: 0.3s;
}
.footer_block_input_button_data:active {
    background-color: #E1670E;
    transition-duration: 0.3s;
}
#radio {
    margin-left: 63px;
}
#radio_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
.footer_block_info {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CACACA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.footer_block_info_text {
    width: 90%;
}
.footer_block_logo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.footer_block_menu_nav {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 34px;
}
.footer_block_menu_nav_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}

.footer_block_menu_sn {
    height: 10%;
    width: 60%;
    justify-content: space-around;
    display: flex;
    margin-left: 16px;
}
#list6 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list6:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list6:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list6:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list7 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list7:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list7:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list7:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list8 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list8:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list8:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list8:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list9 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list9:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list9:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list9:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list10 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list10:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list10:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list10:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list11 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list11:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list11:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list11:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list12 {
    padding: 1px 2px;
    transition-duration: 0.05s;
    color: #CACACA;
}
#list12:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list12:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list12:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
