html, body {
    margin: 0;
    padding: 0;
}
input {
    outline:none;
}
body {
    width: 100%;
    height: 100%;
}
a  {
    color: black;
    text-decoration: none;
}
ul {
   list-style: none; 
}
.header {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    display: flex;
}
.header_left {
    width: 25%;
    height: 100%;
    display: flex;
}
.header_left_burger {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0
}
.header_left_logo {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header_right {
    width: 33%;
    height: 100%;
    display: flex;
}
.header_right_input {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_input_border {
    width: 100%;
    height: 70%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.1s;
}
.header_right_input_border_search {
    width: 90%;
    height: 60%;
    border: 0;
    font-size: 18px;
    color: gray;
    border-bottom: 1px solid gray;
}
.header_center {
    width: 41%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}
.header_nav li {
    height: 100%;
    display: inline;
    margin-right: 50px;
    padding: 1px 2px;
    transition-duration: 0.05s;
}
.header_right_btn_search {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_btn_search_active {
    height: 40px;
    width: 40px;
    border:0;
    background-color: #FFFFFF;
}
.header_menu_search_button_active_svg {
    transition-duration: 0.1s;
}
.header_menu_search_button_active_svg:hover {
    stroke: #FF9900;
    fill: #FF9900;
}
.header_right_btn_off {
    height: 100%;
    width: 10%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_right_btn_off_active {
    height: 40px;
    width: 40px;
    border: 0;
    background-color: white;
    transition-duration: 0.1s;
    opacity: 0;
}
.header_right_btn_off_active_svg:hover {
    stroke: #FF9900;
    fill: #FF9900;
    transition-duration: 0.1s;
}
#list1 {
    padding: 1px 2px;
}
#list2 {
    padding: 1px 2px;
}
#list3 {
    padding: 1px 2px;
}
#list4 {
    padding: 1px 2px;
}
#list5 {
    padding: 1px 2px;
}
#list1:hover {
    border-bottom:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list1:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list1:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list2:hover {
    border-bottom:2px solid #FF9900;
}
#list2:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list2:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list3:hover {
    border-bottom:2px solid #FF9900;
}
#list3:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list3:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list4:hover {
    border-bottom:2px solid #FF9900;
}
#list4:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list4:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
#list5:hover {
    border-bottom:2px solid #FF9900;
}
#list5:focus {
    border:2px solid #FF9900;
    transition-duration: 0.05s;
}
#list5:active {
    border-bottom:2px solid #E1670E;
    color: #E1670E;
    transition-duration: 0.05s;
}
.offer {
    height: 770px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer_slider {
    width: 90%;
    height: 610px;
    position: absolute;
    background: url(images/pict_slider1.png);
    background-repeat: no-repeat;
    border-radius: 32px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;   
    flex-direction: column;
    transition-duration: 0.5s; 
}
.offer_slider_header {
    height: 45%;
    width: 50%;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.offer_slider_header_text {
    margin-left: 70px;
    margin-top: 100px;
    color: white;
}
.offer_slider_content {
 height: 15%;
 width: 50%;
 font-size: 28px;
 font-weight: 800;
 display: flex;
 align-items: center;
 justify-content: center;

}
.offer_slider_content_text {
    margin-left: 70px;
    color: white;
}
.offer_slider_order {
    height: 35%;
    width: 50%;
    display: flex;
    align-items: center;
}
.offer_slider_order_button {
    margin-left: 70px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.offer_slider_order_button_border {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9900;
    border-radius: 16px;
    padding: 18.571px 37.1419px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    transition-duration: 0.3s;
}
.offer_slider_order_button_border:hover {
    background-color: #ffb84d;
    transition-duration: 0.3s;
}
.offer_slider_order_button_border:focus {
    background-color: #ffb84d;
    transition-duration: 0.3s;
}
.offer_slider_order_button_border:active {
    background-color: #E1670E;
    transition-duration: 0.3s;
}
.dots_slider {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots_button {
    margin-right: 50px;
    border:0;
    background-color: rgba(0, 0, 0, 0);
}
.dot_button_border {
    height: 100%;
    width: 25px;
    border-radius: 50%;
    background-color: #CACACA;
    display: flex;
}
.dot_button_border:hover {
    background-color: #FFFFFF;
}
#dot_first {
    background-color: white;
    color: white;
}